<div class="w-full sm:w-1/2">
  <div class="mb-2">
    <h3>Agregar personaje</h3>
    <h3>Personaje actual: <strong>{{name()}}</strong></h3>
  </div>
  <input
    placeholder="Nombre"
    type="text"
    class="block mb-2 w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
    [value]="name()"
    (input)="name.set(txtName.value)"
    #txtName
    >
  <div class="mb-2">
    <h3>Asigna un poder</h3>
    <h3>Poder actual: <strong>{{power()}}</strong></h3>
  </div>
  <input
    placeholder="Poder"
    type="number"
    class="block mt-2 w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
    [value]="power()"
    (input)="power.set(+txtPower.value)"
    #txtPower
    >
  <button
    (click)="addCharacter()"
    class="bg-blue-500 p-2 mt-2 rounded-xl text-white">
      Agregar
  </button>
</div>
