<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px;
  }
  nav a {
    text-decoration: none;
    color: white;
  }
  nav a.active {
    color: red;
    text-decoration: underline;
  }
</style>

<nav>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Counter</a>
  <a [routerLink]="['/hero-page']" [routerLinkActive]="'active'">Hero</a>
  <a [routerLink]="['/dragonball-page']" [routerLinkActive]="'active'">Dragonball</a>
  <a [routerLink]="['/dragonball-super-page']" routerLinkActive="active">Dragonball Super</a>

</nav>
